<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"> 
    <title>Dogs Index</title>
</head>
<body>
    <h1>All Dogs</h1>
    <a href="/dogs/new">Add new dog</a>
    <ul>
        <% dogs.forEach(dog => { %>
        <li>
           <a href="/dogs/<%= dog.id %>"> <%= dog.name %></a>
        </li>
        <% }); %>
    </ul>
</body>
</html>